.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.50)),url(/trivialpursuitRead/images/Trivial_Pursuit-59a52137685fbe001041c75b.jpg);
    background-size: cover;
    background-position: center;

}

.navbar{
    width: 85%;
    margin: 0px 25px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.container{
    margin: 50px 100px;
    font-weight: 100;
    line-height: 25px;
}
.tablehead{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.tablebody{
    text-decoration: none;
    color: white;
    text-transform: none;
    font-size: 15px;
}
/* buttons */
.btn-edit{
    width: 100px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border: 3px solid lightblue;
    background: lightblue;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 15px;
}

.btn-edit:hover{
    color: white;
    border: 3px solid lightblue;
}
.btn-delete{
    width: 100px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    border: 3px solid red;
    background: red;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 15px;
}
.btn-delete:hover{
    color: white;
    border: 3px solid lightblue;
}

