*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.50),rgba(0, 0, 0, 0.50)),url(../images/Trivial_Pursuit-59a52137685fbe001041c75b.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: 0px 25px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 50px 100px;
    font-weight: 100;
    line-height: 25px;
}
.newquestion{
    font-size: 30px;
    margin: 50px 100px;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 400px;
    height: 75px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 3px solid #13294b;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 15px;
}

span{
    background: #13294b;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}
